@{
    ViewData["Title"] = "Ooui";
    var formsSamples = SamplesController.Samples.Where(x => x.Title.StartsWith("Xamarin.Forms "));
    var otherSamples = SamplesController.Samples.Where(x => !x.Title.StartsWith("Xamarin.Forms "));
}

<div class="row" style="margin-top:4em;">
    <div class="col-md-2">
        <img src="images/Icon.png" />
    </div>
    <div class="col-md-2">
        <h1>Ooui</h1>
        <p>Write interactive web apps in C# and F#</p>
        <p><a href="https://github.com/praeclarum/Ooui">Source Code on GitHub</a></p>
    </div>
</div>

<div class="row" style="margin-top:4em;">
    <div class="col-md-4">
        <h3>Xamarin.Forms Samples</h3>
        <ul>
            @foreach (var s in formsSamples)
            {
                <li>
                    <a asp-area="" asp-controller="Samples" asp-action="Run" asp-route-name="@s.Title">@s.Title.Substring(14)</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Plain Web Samples</h3>
        <ul>
            @foreach (var s in otherSamples)
            {
                <li>
                    <a asp-area="" asp-controller="Samples" asp-action="Run" asp-route-name="@s.Title">@s.Title</a>
                </li>
            }
        </ul>
    </div>
</div>
